{% extends "layout.html" %}

{% block heading %}
    Register
{% endblock %}

{% block content %}

<h5><font color="red">{{message}}</font></h5>
<form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="email">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}
